<img class="img-responsive" src="http://d2art.com/wp-content/uploads/2013/10/placeholder_image1.png">

<!--
<div>
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign Up", new_user_registration_path %>
		<%= link_to "Sign In", new_user_session_path %>
	<% end %>
</div>
-->

</br>

<div class="panel panel-primary">
	<div class="panel-heading"><b>Server Chat</b></div>
	<div class="panel-body fixed-panel">
		
        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>

        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>

        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>

        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>
        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>
        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>
        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>
        <div class="chat-body">
            <div class="header">
                <strong class="primary-font">Jack Sparrow</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                dolor, quis ullamcorper ligula sodales.
            </p>
        </div>
		
	</div>

	<div class="panel-footer">
		<div class="input-group">
			<input class="form-control" id="message" placeholder="Enter your message">

			<span class="input-group-btn">
				<button class="btn btn-primary">Send</button>
			</span>	
		</div>
	</div>
</div>

<%= button_to "test Pusher", {:controller => :pusher, :action => :hello_world}, :method => :post %>