<head>
<%= csrf_meta_tags %>
<% content_for(:head) do %>
  <%= javascript_include_tag 'test' %>
<% end %>
</head>

<div class="jumbotron">
  <h1 class="display-3" align="center">Open Games</h1>
  <hr class="m-y-2">
  <p align="center">Join an open game below and get start throwing knives!</p>
</div>

<% @games.each do |game_id, players| %> 
  <div class="panel panel-primary">
    <div class="panel-heading"><b>Game Number: <%=game_id%></b></div>
    <div class="panel-body fixed-panel">
      
          <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <%= button_to('Join', {:controller => :game, :action => 'player_join'}, params: {:id=>game_id}, :class => 'btn btn-large btn-primary')%>
                </div>
              </div>
          </div>
          <% players.each do |player_id, email| %> 
            <div class="row" align="center">
                <div class="col-md-4"><p>Player <%=player_id%></p></div><div class="col-md-2"><%=email%></div>
            </div>
          <% end %>
    </div>
  </div>
<% end %>

