<!DOCTYPE html>
<html>
	<head>
	  <title>Classroom</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= include_gon %>
	  <%= yield(:head) %>

	  <!-- Pusher stuff -->
	  <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
	  <script>

	    Pusher.logToConsole = true;

	    var pusher = new Pusher('db5516d4f7a81e681d0f', {
	      encrypted: true
	    });

	    var channel = pusher.subscribe('test_channel');
	    channel.bind('my_event', function(data) {
	      alert(data.message);
	    });
	  </script>
	</head>
	
	<body>
		<div class="container">	
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1" >
					<% if user_signed_in? %>
						<%= render 'shared/navigation' %>
					<% end %>

					<div style="margin-top:30px">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
